body {
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vh;
}

.ordered {
    display: inline-block;
}

.restart {
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    font-size: 28px;
    font-weight: 100;
    border-radius: 15px;
    color: #ffffff;
    padding: 15px;
    border: 0px;
    background-color: #9370d8;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background-color: rgba(147,112,219,0.8);
}